@{
    ViewData["Title"] =  "World View";
}

<p>@ViewData["Message"]</p>

<!-- ROW ONE -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/right.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 1 ARROWS -->

<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>

<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/lowerright.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 2 -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>

<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 2 ARROWS -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 3 -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>

<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/right.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 3 ARROWS -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/up.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 4 -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 4 ARROWS -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/lowerright.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 5 -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>

<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>

<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>

<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>

<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/right.png">
    </div>
</div>

<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 5 ARROWS -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>

<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 6 -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/right.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>

<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 6 ARROWS -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>

<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/lowerright.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/lowerright.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/down.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 7 -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/right.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 7 ARROWS -->
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>

<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/lowerleft.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/lowerleft.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<!-- ROW 8 -->
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="arrow" src="~/images/left.png">
    </div>
</div>
<div class="square">
    <div class="content">
        <img class="icon" src="~/images/clear.png">
    </div>
</div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>
<div class="square"><div class="content"> </div></div>