mainold {
    background-color: lightgrey;
    width: 600px;
    border: 5px solid black;
    padding: 25px;
    margin: 0 auto;
    text-align: left;
}

disclaim {
    background-color: lightgrey;
    width: 600px;
    border: 5px solid black;
    padding: 25px;
    margin: 0 auto;
    text-align: left;
}


body {
    font-size: 36pt;
}

.square {
    float: left;
    position: relative;
    width: 4.545%;
    padding-bottom: 4.545%; /* = width for a 1:1 aspect ratio */
    margin: 0%;
    background-color: #f4f4f4;
    overflow: hidden;
}

.content {
    position: absolute;
    height: 100%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 0% 0%;
}

img {
    width: 100%;
}